#**
 * HTTP Response for the uasset/signed-url/group REST endpoint
 * Author: Andrew Jarombek
 * Date: 8/20/2021
 *#

#set($uploadUrl = $input.json('$.uploadUrl'))
#set($key = $input.json('$.key'))

{
    "uploadUrl": $uploadUrl,
    "key": $key
}