# Dependencies and versioning used to create a virtual environemnt for the saints-xctf-infrastructure test suite.
# Author: Andrew Jarombek
# Date: 3/14/2020

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">=23.9.1"

[packages]
boto3 = ">=1.17.108"
boto3-stubs = ">=1.17.108"
boto3_type_annotations = ">=0.3.1"
aws_test_functions = {git = "https://github.com/ajarombek/cloud-modules.git", subdirectory = "aws-test-functions"}

[requires]
python_version = "3.8"

[scripts]
test = "python runner.py"
