#**
 * HTTP Request for the uasset/user REST endpoint
 * Author: Andrew Jarombek
 * Date: 11/21/2020
 *#

#set($username = $input.json('$.username'))
#set($fileName = $input.json('$.fileName'))
#set($base64Image = $input.json('$.base64Image'))

{
    "username": $username,
    "fileName": $fileName,
    "base64Image": $base64Image
}