#**
 * HTTP Request for the uasset/group REST endpoint
 * Author: Andrew Jarombek
 * Date: 1/27/2021
 *#

#set($groupId = $input.json('$.groupId'))
#set($fileName = $input.json('$.fileName'))
#set($base64Image = $input.json('$.base64Image'))

{
    "groupId": $groupId,
    "fileName": $fileName,
    "base64Image": $base64Image
}